{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Index {% endblock %}</h1>
    <h1>Hello World!</h1>
    <h2>Welcome to MyApp!</h2>
    <h2>My name is {{ my_name }}. Nice to meet you!</h2>
    <h3>{{ utc_dt }}</h3>
{% endblock %}